<!DOCTYPE html>

<html>

<head>

    <style>
        .navbar{

background-color:#2D2A72;

padding:2px;

text-align:center;

display:flex;

justify-content:space-between;

align-items:center;

}

.navbar h1{
    color:white;
    font-size:40px;
}


.nav-button a{

background-color:#2D2A72;

color:white;

border:none;

padding:6px 20px;

margin:10px;

font-size:16px;

cursor:pointer;

}
</style>
<title>
mock interview
</title>

</head>

<body>
    <div class="navbar">

        <h1>
            CareerPilot AI 
            </h1>

        <div class="nav-button">

            
        <a href="/home">Home</a>
    
        <a href="/analysis">Analysis</a>
    
        <a href="/roadmap">Learning Roadmap</a>
    
        <a href="interview">Mock Interview</a>

        </div>
    
    </div>


<pre>

{{  analysis }}

</pre>

</body>

</html>